.s2{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
input [type="text"],
input [type="email"],
input [type="password"],
input [type="date"],
select,
textarea{
       width: 100%;
       padding: 12PX;
       border: 1px solid #ccc;
       border-radius: 5px;
       margin: 10px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
.s3{
    text-align: center;
}
input[type="submit"],input[type="reset"]{
    background-color: #4daea1;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
input[type="submit"]:hover{
    background-color: rgb(96, 236, 77);
}
input[type="reset"]:hover{
    background-color: rgb(235, 59, 59);
}